html {
  scroll-behavior: smooth;
}
.nav-link {
  position: relative;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #000; /* black underline */
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #000; /* darker text on hover */
}

.nav-link:hover::after {
  width: 100%;
}

